/* Liam O'Brien's Lab 3 Styles Sheet */

* {
    font-family: 'Roboto', sans-serif;
}

/* navigation links */
nav {
    position: absolute;
}

a, p {
    color:black;
}

a:hover {
    color:orangered;
}

a:active {
    color:plum;
}

img {
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1%;
    padding-bottom: 3%;
    padding-left: 0%;
    padding-right: 0%;
    height:500px;
    width:500px;
    display: block;
}

div.elrecipe {
    max-width: 60vmin;
    min-width: 30vmin;
}

/* top right bottom left */
video{
    margin: 5px 20px 0px 30px;
    padding: 3px 5px 5px 0px;
}

iframe {
    margin: 0cm 0cm 0cm 2.5cm;
}

h3 {
    display:inline;
    padding: 0in 1in 0in 1in;
}

.inputs {
    display:block;
    padding: 0mm 0mm 0mm 0mm;
}

#About {
    color:#8a2be2;
    border-style:dashed;
    border-color:aqua;
    border-width:7px;
    border-radius:50px;
}

ul > li {
    display: inline;
}

h4 {
    color:#660066;
    text-decoration: underline;
    text-align:center;
}

table td {
    position:relative;
}

#Recipe {
    color:#A71; 
}

#Experience {
    color:hsl(1, 100%, 50%);
    width:500px;
    margin:auto;
}

/* attribute selector */
col[span="1"] {
    background-color:beige;
}

#Survey {
    color:hsla(99, 43%, 46%, 0.753);
}

/* grid */
form {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: auto;
    gap: 10px 10px;
}

/* child selectors */

form > input {
    place-self: center;
    grid-column-start: 2;
}

form > label {
    place-self: center;
    grid-column-start: 1;
}

/* descendent selector */
form  fieldset {
    place-self: center;
    grid-column-start: 1;
}

.email_input {
    place-self: center;
    grid-column-start: 1;
    grid-column-end: span 2;
}

.feedback {
    place-self: center;
    grid-column-start: 2;
    grid-row-start: 7;
}

input {
    text-align:center;
}

/* flexbox */
#input_types {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:baseline;
    height: 400px;
    width: 425px;
}

#input_types label, #input_types input {
    padding-left: 1rem;
    padding-right: 1rem;
    margin:auto;
}

input[type="color"] {
    flex-basis: 150px;
}

input[type="number"] {
    flex-basis: 150px;
}

footer {
    background-color: #58b3c5;
}

/* media query */
@media screen and (max-width: 700px) {
    body {
        background-color:antiquewhite;
    }
}